.cache
.vs
build

# ignore files in examples that have no extension (first ignore all files, then unignore all that have eos extension)
examples/*
!examples/*.eos
!examples/*.output


test/*
!test/*.eos
!test/*.eosTest
!test/*.output

.vscode/launch.json
.vscode/settings.json
